.container {
  width: 200px;
  height: 300px;
  border: 1px solid rgb(255, 255, 255);
  float: left;
  padding: 10px;
  margin-right: 10px;
  margin: 230px;
  text-align: center;
}
header {
  height: 100vh;
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(bg.jpg);
  background-size: cover;
  color: #fff;
}
.item {
  background-color: #000000;
  padding: 8px;
  margin-bottom: 5px;
  cursor: move;
}
button {
  margin-left: 650px;
  background-color: #fff;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  letter-spacing: 0.5px;
}
